<h2>Por País</h2>
<hr>


<div class="row">
    <div class="col">
        <app-pais-input 
            (onEnter)="buscar( $event )"
            (onDebounce)="sugerencias( $event )"
            placeholder="Buscar Pais"></app-pais-input><!--Escuchamos el evento onEnter y llamamos al metodo que esta en el padre, osea este y le mandamos el evento-->
    </div>
</div>

<ul class="list-group">
    <li class="list-group-item list-group-item-action" *ngFor="let item of paisesSugeridos">        
        {{ item.name.common}}
    </li>
</ul>

<hr>
<div class="alert alert-danger" *ngIf="hayError">
    No se encontró nada con el término {{termino}}
</div>

<div class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>
