<h2>Reactivos: <small> Dinámicos </small></h2>
<hr>

<form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
   
    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                   placeholder="Nombre de la persona"
                   name="nombre" formControlName="nombre">
                <span class="form-text text-danger" *ngIf="campoIsValid( 'nombre' )">
                   Debe de tener 3 o más caracteres.
               </span>
        </div>
    </div>

    <!-- Agregar Favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">

            <div class="input-group">
                <input class="form-control"
                       placeholder="Agregar favorito"
                       name="nuevoJuego">

                <button class="btn btn-outline-primary"
                        type="button">
                    Agregar
                </button>
            </div>
        </div>
    </div>


    <!-- Lista de Juegos Favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">

            <!-- <div class="input-group mb-1"
                 *ngFor="let juego of persona.favoritos; let i = index">
                <input
                       name="favorito_{{ i }}"
                       class="form-control">

                <button class="btn btn-outline-danger"
                        type="button">
                   Eliminar
               </button>
            </div> -->

        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <button type="submit"
                    class="btn btn-primary float-end">
                Guardar
            </button>
        </div>
    </div>


</form>




<span>Persona</span>
<pre>{{ miFormulario.value | json }}</pre>

